<div class="column-container">
	<h3>ABOUT US</h3>
	<%= image_tag "shigofamily2.gif", alt:"Shigo family", class:"centered" %>

	<h3 class="centered">Welcome to the official website for Shigo and Trees, Associates LLC</h3>	

</div>