<div class="column-container">
	<h3 class="subtitle">ABOUT US</h3>
	<%= image_tag "shigofamily2.gif", alt:"Shigo family", class:"centered" %>

	<h3 class="centered">Welcome to the official website for Shigo and Trees, Associates LLC</h3>	

	<p>
		Shigo and Trees, Associates was begun in 1985 by Alex and Marilyn Shigo at their home in New Hampshire. Alex had retired after more than 25 years as Chief Scientist in the US Forest Service, and had many ideas about trees and their care to share. His first book was <%= link_to "A New Tree Biology", '#' %>, a totally new vision of trees and their physiology based on his many years of tree dissections, published in 1986. For twenty years of “retirement” he traveled throughout the USA and the world giving demonstrations, making presentations, organizing workshops and educational seminars, talking with individuals, and sharing his passion about trees. In all of his encounters he encouraged people to “Touch Trees TM,” to learn about and understand trees for themselves from the inside and outside, and through the microscope. He loved trees, he loved the people who worked with trees, and strived endlessly to improve the lives of trees through his writing, his presentations, and his work with people.
	</p>

	<p>
		In October 2005 Alex and Marilyn transferred Shigo and Trees, Associates to their only daughter, Judy Shigo Smith. In the transfer, the business moved across the country to the Pacific Northwest. Judy has grown up absorbing a love of forests, trees and wood. She typed her father's first book, <%= link_to "A New Tree Biology", '#'%>, as well as portions of <%= link_to "Modern Arboriculture", '#'%>. Judy now distributes the many books authored and photographed by her Dad and operates other aspects of the business from Washington. It remains, however, in a family where the science of trees is as important as the family tree: Judy's husband is Dr. Desmond Smith, known as Dr. Chips in the field of wood processing.
	</p>

	<p>
		Alex's impact has been tremendous, and his philosophy has been like a breath of fresh air. His legacy is available in the volumes available on this website. Those Shigovians among us know the profound impact his teachings are having in the tree care industry, and want to share that vision of tree health and care with the broader world. Help yourself to the wealth of information available. Drink deeply from the well. Alex gave of himself to the greatest extent possible, and his gift is here for all of us to enjoy.
	</p>

	<hr>

	<p class="subtext">"Al, Who taught me to look closely & assume nothing."</p>
	<p class="subtext">~R. Yaple</p>
</div>