<h3 class="subtitle">Contact Us</h3>
<p class="contact">Shigo and Trees, Associates LLC</p>
<p class="contact">PO Box 2466</p>
<p class="contact">Snohomish, WA 98291-2466 USA</p>
<p class="contact">Phone: 1 360-862-1869</p>
<p class="contact">Fax: 1 360-862-8490</p>
<p class="contact">Email: judy@shigoandtrees.com</p>
<p class="contact"><%= link_to "Shigo and Trees", root_path %></p>
