<%= image_tag "touchtrees.gif", alt:"Touch Trees", class:'touchtrees' %>

<div class="announcement">
	<p>A NEW Publication from Shigo and Trees, Associates:</p>
	<p>Soul of a Tree: Conversations with Alex Shigo on the Nature of Tree Care</p>
	<p>By Jack Philips</p>
	<p>See "How to Place an Order" above if you have any questions or concerns about shipping rates or delivery times.</p>
</div>