<h3 class="subtitle">Scholarships</h3>

<div class="column-container"><p class="about">There are many who would like to support and continue the research and education efforts of Alex Shigo.  Dr. Shigo believed in learning about trees from the inside and outside with consideration and appreciationof how they live, grow and use energy, their environment, and proper care.  To further the education of students of all ages and stages, the following scholarships are being established.  Please contact these organizations if you would like to make a contribution or application.</p>

<br>
<h3 class="centered">Paul Smith's College - Paul Smiths, NY</h3>
<p class="about">Contact: Hillarie Logan-Dechene, Vice President for Institutional Advancement</p>
<p class="about">PO Box 265</p>
<p class="about">Paul Smiths, NY 12970</p>
<p class="about">800-421-2605</p>
<p class="about">dechenh@paulsmiths.edu</p>
<p class="about">For memorial contributions or scholarship applications, please contact the Forestry Department</p>
<br>

<h3 class="centered">Waynesburg College - Waynesburg, PA</h3>
<p class="about">Contact: Karen Elliott Galentine, Director of Development Waynesburg College</p>
<p class="about">51 West College Street</p>
<p class="about">Waynesburg, PA 15370</p>
<p class="about">724-852-3369</p>
<p class="about">www.waynesburg.edu</p>
<p class="about">For scholarship applications, contact the Biology Department directly.</p></div>