// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.about {
	text-indent: 20px;
	width: 740px;
	margin: 0 auto;
	font-size: 13px;
}